* {
  box-sizing: border-box;
}
.toggle {
    text-align: center;
}
.navbar-default {
    background-color:#c8c8c8 !important;
}
.collapse-section a {
    color: #000 !important;
    font-size: 20px;
}
.background-color {
    background-color: rgb(200, 200, 200);
    padding: 20px 30px;
    min-height: 500px;
    border: 15px solid #fffdfd;
  /* border-radius: 8px; */
    margin-bottom: 20px;
}
.row {
    padding:0px 30px;
}
.row > div {
  margin-bottom: 30px; /* Adds space BELOW each column */
}
@media (min-width: 992px) { /* md breakpoint */

}
@media (max-width: 767px) {
  
}
@media (max-width: 479px) {
 .row {
    padding:0px 40px;
  }
}
.navbar-brand {
    font-size: 24px;
    color: #333 !important;
}
.header {
    margin: 100px 0px 40px 0px;
    
}
.menu-item {
    font-weight: 700;
}
